{% extends 'OJob/admin/base.html'%}
{% block main%}
{% block linkscript %}


    <link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/user_mag.css">
    <!--<script src="/static/admin/js/xadmin.js"></script>-->
    <script src="/static/admin/js/jquery-3.3.1.min.js"></script>
    <script src="/static/admin/layui/layui.js"></script>
    <script src="/static/admin/js/xadmin.js"></script>
{% endblock linkscript%}


    <div class="x-nav">

        <a href="">首页/</a>
        <a href="">演示</a>
        <a>
          <cite>/地点信息管理</cite></a>

      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" >
        <i class="glyphicon glyphicon-circle-arrow-right" style="line-height:30px"></i></a>
    </div>
    <div class="x-body">
      <button type="button" class="btn btn-success" >编辑地点信息</button>
        <br>


      <table class="layui-table">
        <thead>
          <tr>

            <th>ID</th>
            <th>地点</th>
            <th>地点个数(职位中)</th>
            <th>修改</th>
            <th>删除</th>
        </thead>
        {%for item in list%}
        <tbody>
          <tr>

            <td>{{item.id}}</td>
            <td>{{item.addrs}}</td>
            <td>{{item.count}}</td>


            <td>

              <button type="button" class="btn btn-info" onclick="x_admin_show('编辑地点信息','/PlaceOperation/1/'+{{item.id}})">修改</button>

            </td>
              <td>
              <button type="button" class="btn btn-danger" onclick="member_del(this,{{item.id}})">删除</button>

              </td>

          </tr>
        </tbody>
        {%endfor%}
      </table>
      <div class="page">
        <div>
          <a class="prev" href="/ManagePlace/{{id|add:-1}}">&lt;&lt;</a>
          <span class="current">第{{id}}页</span>

          <a class="next" href="/ManagePlace/{{id|add:1}}">&gt;&gt;</a>
        </div>
      </div>

    </div>
<script>




    function x_admin_show(title,url,w,h){

    if (w == null || w == '') {
        w=($(window).width()*0.9);
    };
    if (h == null || h == '') {
        h=($(window).height() - 50);
    };

    layer.open({
        type: 2,
        area: [w+'px', h +'px'],
        fix: false, //不固定
        maxmin: true,
        shadeClose: true,
        shade:0.4,
        title: title,
        content: url
    });
}


      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
          $.ajax({
              type : "post",
              url : "/DeletePlace/",
              async : true,
              data : {
                  "id" : id
              },
              dataType : "json",
              async : false,
              // 成功后开启模态框
              success : function(data,status) {
                 $(obj).parents("tr").remove();
                 layer.msg('已删除!',{icon:1,time:1000});
              },
              error : function() {
                  alert("请求失败");
              },

          });

          });
      }




</script>


{% endblock main%}