{% extends 'OJob/user/main.html'%}
{% block linkscript %}
 <link rel="stylesheet" type="text/css" href="/static/main/css/leavemessage.css">
<link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css">
{% endblock linkscript%}
{% block main%}

    <form action="/perfect_leavemge/" class="dark-matter" method="post" onsubmit="return check()">
        {% csrf_token %}
        <br><br>
        <label>
        <span>用户名 :</span>
        <input id="name" type="text" name="name" value={{username}} readonly="readonly"/>
        </label>
        <label>
        <span>主题 :</span>
        <input  type="text" name="subject" id="subject1"/>
        </label>

        <label>
        <span>留言内容 :</span>
        <textarea id="message" name="mge" id="mge1"></textarea>
        </label>
        <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" id="btn" value="Send" />&nbsp;&nbsp;&nbsp;{{data}}
        </label>
    </form>
<script type="text/javascript">

    function check(){
      if($("#subject1").val()=="")
      {
        alert("主题不能为空")
        return false;
      }
      else if($("#mge1").val()=="")
      {
        alert("留言不能为空")
        return false;
      }
      else{
        return true;
      }
    }

</script>
{% endblock main%}