{% load static from staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>岁岁兼职网</title>
    {% block linkscript %}
    {% endblock linkscript%}
    <link rel="stylesheet" type="text/css" href="/static/main/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/main/css/main.css">
    <script src="/static/main/js/jquery-3.3.1.min.js"></script>
    <script src="/static/main/js/jquery-1.7.2.min.js"></script>
    <script src="/static/main/js/jquery.SuperSlide.2.1.js"></script>
    <script src="/static/main/js/common.js"></script>
    <!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>
<body>
<img src="2.png" alt=""/>
    <div class="wrapper">
        <div class="topper clearfix">
            <div class="topper-nav">
                <a href="#">设为首页</a>|<a href="#">加入收藏</a>
            </div>
        </div>
        <div class="header">
<div class="header-title clearfix">
			<a href="index.html" class="header-logo"><img src="/static/main/img/logo.png" ></a>
			<p class="header-somewords">我们擅长做项目管理，看板管理，一个产品也生产并及时交货</p>
		</div>
            <div class="header-nav">
                <ul class="header-nav-list clearfix">
                    <li class="nav-one"><a href="/main/" class="nav-tit">首页</a> </li>
                    <li class="nav-one"><a href="/register/" class="nav-tit">求职注册</a> </li>
                    <li class="nav-one"><a href="/resume/" class="nav-tit">填写简历</a> </li>
                    <li class="nav-one"><a href="/backstage/" class="nav-tit">后台管理</a></li>
                    <li class="nav-one"><a href="/leavemessage/" class="nav-tit">网站留言</a></li>
                    <li class="nav-one"><a href="/login/1/" class="nav-tit">登陆</a> </li>


                </ul>
            </div>
            <div class="header-search">
              <form action="/queryjob/" method="post">
                {% csrf_token %}

                    <input type="text" class="form-text-search" name="content" placeholder={{tips}} >

                <div class="header-search-words">
                    &nbsp&nbsp<a><input type="radio" name="name" value="place" checked>按地点</a>
                    &nbsp&nbsp<a><input type="radio" name="name" value="occup">按岗位</a>
                    &nbsp&nbsp<input type="submit" value="" class="search-submit">
                </div>
              </form>
            </div>
        </div>
        <div class="contenter clearfix">
            <div class="sidebar-nav">
                <h3 class="sidebar-nav-tit">
                    岁岁兼职网</h3>
                <ul class="sidebar-nav-list">
                    <li class="nav-one on"><a href="javascript:void(0);" class="nav-tit">地点分类</a>
                        <ul class="sidebar-nav2-list">
                            {% for item in addlist%}
                            <li><a href="/queryposition/1/{{item.addrs}}/">{{item.addrs}}</a></li>
                            {% endfor%}
                        </ul>
                    </li>

                    <li class="nav-one on"><a href="javascript:void(0);" class="nav-tit" id="position">岗位分类</a>
                        <ul class="sidebar-nav2-list" id="type">
                            {% for item1 in hylist%}
                            <li><a href="/queryposition/2/{{item1.name}}/">{{item1.name}}</a></li>
                            {% endfor%}
                        </ul>
                    </li>
                    <script type="text/javascript">
                       $(function(){
                         $('#type').hide();
                         $('#position').click(function(){
                               $('#type').toggle();
                            })
                       })
                    </script>
                </ul>
            </div>
        <div class="contenter-main">
            <div class="cur-pos-wrap">
				<p class="cur-pos">欢迎你：<a>{{username}}</a>
			</div>
            <div class="inside-contenter">
			          {% block main%}
                      {% endblock main%}
            </div>
		</div>
		<div class="sidebar-service">

			<div class="column-one-wrap">
				<div class="common-col-tit">
					<h3 class="title">招聘动态</h3>
					<a class="see-more">&gt;&gt;</a>
				</div>
				<div class="news-list ellipsis-list">
                    {% for item2 in jmlist%}
					<li><a href="/queryposition/2/{{item2.jposition}}/ ">{{item2.jposition}}</a><span class="time">[{{item2.settime|date:'Y-m-d'}}]</span></li>
                    {% endfor%}
				</div>
			</div>
            <div class="column-one-wrap">
				<div class="common-col-tit">
					<h3 class="title">留言动态</h3>
					<a  class="see-more">&gt;&gt;</a>
				</div>
				<div class="news-list ellipsis-list">
                    {% for item2 in lmlist%}
					<li><a href="/leamge/{{item2.title}}/">{{item2.title}}</a><span class="time">[{{item2.date|date:'Y-m-d'}}]</span></li>
                    {% endfor%}
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-nav">
			<a>关于我们</a>|<a >质量保证</a>|<a>新闻资讯</a>|<a>联系我们</a>
		</div>
		<div class="footer-access">
			<a>ERP入口</a>-<a>CRM入口</a>-<a>OA入口</a>-<a>HR入口</a>-<a>邮箱入口</a>-<a>HR入口</a>
		</div>

	</div>
</div>
</body>
</html>