{% extends 'OJob/user/main.html'%}
{% block linkscript %}
 <link rel="stylesheet" type="text/css" href="/static/main/css/resume.css">
 <link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css">

{% endblock linkscript%}
{% block main%}

<form id="payment" action="/perfect_register/" method="post" onsubmit="return check()">
    {% csrf_token %}
    <fieldset>
        <legend>用户注册</legend>
        <ol>
            <li>
                <label>用户名：</label>
                <input type="text" name="uname" id="uname1"/>
            </li>
            <li>
                <label>密码：</label>
                <input type="text" name="passwd" id="passwd1"/>
            </li>

            <li>
                <label>电话：</label>
                <input type="text" name="tel" id="tel1"/>
            </li>

            <li>
                <label>地址：</label>
                <input type="text" name="addrs"/>
            </li>
        </ol>
    </fieldset>

    <input  type="submit" id="btn" style="width:100px;margin-left:10px;" value="提交"/>&nbsp;&nbsp;{{data}}


</form>
<!--<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>-->
<script type="text/javascript">

    function check(){
      if($("#uname1").val()=="")
      {
         alert("账号不能为空")
         return false;
      }
      else if($("#passwd1").val()=="")
       {
         alert("密码不能为空")
         return false;
       }
      else if($("#tel1").val()=="")
       {
         alert("电话不能为空")
         return false;
       }
       else{
            return true;
        }
}

</script>
{% endblock main%}