{% extends 'OJob/user/main.html'%}
{% block linkscript %}
<link rel="stylesheet" type="text/css" href="/static/main/css/job.css">
<link rel="stylesheet" type="text/css" href="/static/admin/layui/css/layui.css">
<script src="/static/main/js/jquery-3.3.1.min.js"></script>

{% endblock linkscript%}
{% block main%}
  {% for item in lmlist1 %}
 <div class="jzList_item"  style="height:70px">
     <div class="jzList_txt" style="padding-top:5px;">
         <p style="margin-bottom:3px;">查看的内容：</p>
         <div class="jzList_txt_t"><h4><a>{{item.uname}}</a></h4></div>
         <div class="jzList_txt_field">
          <ul>
            <li><span>主题：</span>{{item.title}}</li>
            <li><span>留言内容：</span>{{item.content}}</li>
         </ul>
         </div>

    </div>
 </div>
 <div class="line"></div>
  {% endfor%}
  {% for item in lmlist2 %}
  <div class="jzList_item" style="height:70px">
     <div class="jzList_txt">
         <div class="jzList_txt_t"><h4><a>{{item.uname}}</a></h4></div>
         <div class="jzList_txt_field">
          <ul>
            <li><span>主题：</span>{{item.title}}</li>
            <li><span>留言内容：</span>{{item.content}}</li>
         </ul>
         </div>

    </div>
 </div>
<div class="line"></div>

  {% endfor%}
<div class="center">
      <ul class="pagination" style="
    margin-top: 100px;
    margin-left: 95px;
">
        <li><a href="/leamge/{{judge1}}/{{id|add:-1}}/">«</a></li>
        <li><a href="#" style="background-color:#c40000;">{{id}}</a></li>
        <li><a href="/leamge/{{judge1}}/{{id|add:1}}/">»</a></li>
      </ul>
</div>
{% endblock main%}